*{
	margin:0;
	padding:0;
}

#grid{
	margin:21.324% 10.663% 0px 5.331% ;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows:auto;
} 
body{
	font-family: 'Poppins', sans-serif;
}
p{
	font-family: 'Roboto Slab', serif;
}

/*/////////////////////////////////////////
Navigation + aside
/////////////////////////////////////////*/
nav{
	position: fixed;
	top:0;
	left:0;
	background-color: 	#D30024;
	height:60px;
	width:100%;
}
nav ul li img{
	width: 1.5rem;

}
nav ul li:first-child{
    margin:0;
}
nav ul li:first-child a img{
    margin-top: 2px;
}
nav ul li{
	display: inline-block;
	height: 100%;
	text-align: center;
	margin: 8px 5px 0px 5px;

}

.menu{
    text-align: right;
    margin-left: 20px;
    height: 100%;
    margin-right: 20px;

}
 
.menu li:first-child{
    float:left;
     
 }

.menu li:first-child img{
     height: 89%;
     width: 58px;
 }

 .menuskrift{
     color: white;
     font-size: 0.8rem;
     font-weight: bold;
 }


 a{
     text-decoration: none;
 }

aside{
	position: fixed;
	right:0;
	top:0;
	background-color:	#D30024;
	height:100vh;
	width:20px;
}
/*///////////////////////////////////////////////
Forside produkt
///////////////////////////////////////////////*/
.front_calendar{
    grid-column:1/13;
	height:6rem;
	background-color:#D30024;
	background-image: 	url("../images/forside/julepynt.png");
	background-size: 60%;
	background-repeat: no-repeat;
	text-align: center;
}
.front_calendar h2{
	color:white;
	font-size: 2rem;
	line-height: 7rem;
	margin-left: 15%;
}
.switch{
    grid-column:2/7;
	height:2rem;
	background: #F34E4E;
	margin: 15% 0;
	text-align: center;
	font-size: .8rem;
}
.switch1{
	grid-column: 7/12;
	height: 2rem;
	background: #F34E4E;
	margin: 15% 0;
	text-align: center;
	font-size: .8rem;
}
.switch_active{
	background-color:#D30024;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9); /* https://mayvendev.com/blog/inner-shadows-in-css-images-text-and-beyond */
}
.switch a , .switch1 a{
	text-decoration: none;
	width:100%;
	height:100%;
	line-height: 2rem;
	color:white;
}
.produkt_box{
    grid-column:span 6;
	background:white;
	margin-top: 5%;
	border-radius: 5px;
	border:1px solid #4B4B4B;
}
.produkt_box:nth-child(even){
	margin-right:2.5%;
}
.produkt_box:nth-child(odd){
	margin-left:2.5%;
}
.produkt_box img{
	display: block;
	width:8rem;
	height:6rem;
	margin:10px auto 0px auto;

}
.produkt_box p{
	text-align: center;
	margin-bottom:10px;
}
.produkt_box h1{
	width:98%;
	height:40px;
	color:#565656;
	margin:5px 2% 5px 2%;
	font-size: 1rem;
	text-align: center;
}
.produkt_box p:nth-child(3){
	color:#D30024;
	font-weight: bold;
}
.produkt_box p:nth-child(4){
	border:2px solid #31930A;
	padding:1px 2px;
	border-radius: 2px;
	margin-bottom: 0;
	width:80%;
	margin:0 auto 10px auto;
}

/*///////////////////////////////////////////////
Forside kategori
///////////////////////////////////////////////*/
.kategori{
	grid-column:span 6;
	background:white;
	margin-top: 5%;
	height:4rem;
	border-radius: 5px;
	border:1px solid #4B4B4B;
	background-color:#D30024;
	background-image: 	url("../images/forside/julepynt.png");
	background-size: 50%;
	background-repeat: no-repeat;
	text-align: center;
	line-height: 4rem;
	color:#eee;
	font-size: .8rem;
	font-weight: bold;
	
}
.kategori:nth-child(even){
	margin-right:2.5%;
}
.kategori:nth-child(odd){
	margin-left:2.5%;
}
/*///////////////////////////////////////////////
Produktinformation
///////////////////////////////////////////////*/

.prod_info{
	grid-column:1/13;
	background: #fff;
	padding:0 10px;

}
.prod_info h1{
	margin-bottom:20px;
	color:#565656;
	text-align: center;
}
.prod_info a{
	margin-bottom:20px;
	text-decoration: none;
	color:black;
}
.prod_info img{
	display: block;
	width:15rem;
	height:12rem;
	margin:10px auto 0px auto;
	margin-bottom: 20px;
}
.prod_info .back{
	margin-top: 10px;
	margin-bottom:0;
}
.back img{
	display: inline-block;
	margin:0;
	height:20px;
	width:20px;
}

.prod_price{
	grid-column: span 6;
	text-align: center;
	line-height: 34px;
	color:#F64949;
	font-weight: 800;
	background: #fff;
	font-size: 1.5rem;

}
.tilfoj{
	grid-column:span 6;
	margin-bottom: 0;
	width:100%;
	height:100%;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	color:#fff;
	font-weight: 800;
	font-size: 1.5rem;
	background: #5ABD55;
}
.mere{
	color:#565656;
	border-bottom:1px solid #565656;
	text-align: center;
	margin: 20px 0;
}
/*///////////////////////////////////////////////
Kalender
///////////////////////////////////////////////*/

.kalender-box{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 5%;
    grid-column:span 4;
	height:4rem;
    background:#F64949;
    text-align: center;
    line-height: 4rem;
    border-radius: 5px;
}
.kalender-box h4{
	color:	#FFD700;
	font-size: 1.5rem;
	font-weight: bold;
	opacity:.6;
}
.kalender-open{
	background-size: cover;
	background-image: url(../images/story_1.jpg);
}
.kalender-open h4{
	opacity: 1;	
	color:white;
}

/*///////////////////////////////////////////////
Dagens låg
///////////////////////////////////////////////*/
.back{
	grid-column: 1/13;
	display: inline-block;
	text-decoration: none;
	color:black;
}
.dato{
	grid-column: 1/13;
	text-align: center;
	background-color: none;
}
iframe{
	grid-column: 1/13;
	height:12rem;
	margin:5% 0;
	border:none;
	width:100%;
}
.tekst{
	 grid-column:1/13;
	height:15rem;
	overflow: scroll;
}
.tekst h3{
	text-align: center;
	margin:10px 0 20px 0;
}
/*///////////////////////////////////////////////
Ønskeliste
///////////////////////////////////////////////*/
.wishlist_header{
	grid-column:4/10;
	font-size: 1.8rem;
	text-align: center;
}
.wishlist_child{
	grid-column:1/13;
	height:2rem;
	list-style-type: none;
	font-size: 0;
	border-bottom:.2px solid grey;
}

.wishlist_child li{
	display: inline-block;
	border:.2px solid grey;
	border-bottom:none;
	font-size: 1rem;
	width:4.5rem;
	height:100%;
	line-height: 2rem;
	text-align: center;

}
.wishlist_icons{
	grid-column:span 6;
	height:3rem;
}
.wishlist_icons img{
	width:2rem;
	vertical-align: middle;
	margin-top: -5%;
	margin-left: 5%;
}
.wishlist_icons h4{
	display: inline-block;
	line-height:3rem;
	font-size: 
}
.wishlist_product{
	grid-column:1/13;
	height:6.3rem;
	border-top:1px solid #5D5D5D;
	padding-top:5%;
}
.wishlist_product img{
	width:6rem;
	vertical-align: top;
	float:left;
	margin-right: 2%;
}
.wishlist_product h2{
	display: inline-block;
	font-size: 1rem;
	width:47%;
}
.wishlist_product p img{
	width:1rem;
	margin-right: 5px;
}
.wishlist_product p:nth-child(3){
	display: inline-block;
	font-size: 1rem;
}
.wishlist_product p:nth-child(4){
	color:green;
	margin-top:5%;
}
.wishlist_check{
	clear:both;
	width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #8B8B8B;
    -webkit-appearance: none;
    margin:60% 10% 10% 10%;
}
.wishlist_check:checked{
	 background-color: #66bb6a;
	 border-color:#8B8B8B;
}
.check_label{
	margin-left: 10%;
	line-height: 3.5rem;
}
.wishlist_infobox{
	grid-column: 4/13;
	margin-bottom: 5%;
}
.wishlist_infobox h3, .wishlist_infobox p{
	font-size: 1rem;
	display: inline-block;
	margin-top: 1%;
}
.wishlist_infobox p{
	width:80%;
}
.wishlist_infobox input{
	width:5rem;
	border:1px solid #868686;
}
.confirm{
	position:fixed;
	bottom:0;
	width:100%;
	left:-20px;
	height:3rem;
	font-size: 1.5rem;
	font-family:'Roboto Slab', serif;
	font-weight: bold;
	border:none;
	color:#eee;
	background-color: #66bb6a;
}
.confirm:active{
	background-color: #7A7A7A;
}
/*///////////////////////////////////////////////
Indstillinger
///////////////////////////////////////////////*/
.options_header{
	grid-column:1/13;
	height:3.5rem;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: solid black 1px;
}
.wishlists{
	grid-column:1/13;
	height:2.5rem;
    margin-top: 20px;
    background-color: #D30024;
    color: white;
    line-height: 2.5rem;
	
}
.wish_option2{
	grid-column:1/13;
    height:2rem;
    border-bottom: solid black 1px; 
    margin: 20px 0;
}
.wish_opret{
	grid-column:1/6;
	min-height:2.5rem;
}
.wish_login{
	margin-top: 10px;
	grid-column:2/12;
	min-height:3rem;
}

.change{
    grid-column: 1/13;
}
.change .label{
    display: inline-block;
    width:50%;
    height:1.5rem;
}
form input{
    width:40%;
}
.liste{
    width:100%;
}
.liste li{
    display: inline-block;
}
.liste .navn{
    width:20%;
}
.liste .gave img, .liste .kr img{
    width:18px;
    margin-right: 5px;
}
.liste .gave{
    width:20%;
}
.liste .arrow{
    float:right;
}
.liste .arrow img{
    width:18px;
    transform: rotate(-90deg);
}
.opret_liste{
    grid-column: 1/13;
    color:#000000;
   text-decoration: underline;
   margin-bottom: 4rem;
}
.barn_logind{
    grid-column: 3/11;
    text-align: center;
    height:2.5rem;
    line-height: 2.5rem;
    background-color: #D30024;
    border-radius: 5px;
    color:#eee;
}
